@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Roboto:wght@300&display=swap');

.our_products_heading{
text-align: center;
font-size: 2.5rem;
font-weight: 600;
font-family: 'Almarai', sans-serif;
margin-bottom: 3.5rem;
}